body {
  background-color: #ecf0f1;
}

a {
  background-color: white;
  border-color: #0c0c0c;
  color: #0c0c0c;
}
a:active,
.light_button:active,
.sort_light:active {
  box-shadow: 0px 0px 5px black;
}

.light_body {
  background-color: #ecf0f1;
  border-color: #0c0c0c;
}
