.dark_list_image {
  border-color: #8b8b8b;
  /* background-color: #282828; */
}

.anime_block {
  background-color: #282828;
  border-color: #8b8b8b;
}

.dark_button {
  background-color: #121212;
  border-color: #8b8b8b;
  color: white;
}

.dark_input {
  background-color: #282828;
  border-color: #8b8b8b;
  color: white;
}

.main_button {
  background-color: #282828;
}

.mal_link,
.livechart_link {
  border-color: #8b8b8b;
}

.dark_link,
.sort_dark {
  background-color: #282828;
  border-color: #8b8b8b;
  color: white;
}
