.light_list_image {
  border-color: #0c0c0c;
}

.anime_block {
  background-color: white;

  border-color: #0c0c0c;
}

.light_button {
  background-color: #ecf0f1;
  border-color: #0c0c0c;

  color: #0c0c0c;
}

.mal_link,
.livechart_link {
  border-color: #0c0c0c;
}

.main_button {
  background-color: white;
}

.light_link,
.sort_light {
  background-color: white;
  border-color: #0c0c0c;

  color: #0c0c0c;
}
