.anime_block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5 5px;
  margin: 10px 10px;
  border: solid;
  border-width: 3px;
}

.sort_block {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5 5px;
  margin: 0px 10px;
}

.anime_text_block {
  flex: 1 1 0;
  padding: 10px 10px;
}

.anime_button,
.sort_button {
  padding: 10px 10px;
  margin: 10px 10px;
  border: 3px solid;
  font-size: 15px;
  font-weight: 600;
  width: 100px;
}

.sort_button {
  margin: 10px 1px;
}

.watchlist_input {
  padding: 10px 10px;
  margin: 10px 10px;
  border: 3px solid;
  font-size: 15px;
  font-weight: 600;
  width: 300px;
}

.list_image {
  height: 150px;
  width: 106px;
  border-right: 3px solid;
}

.anime_text {
  font-weight: 800;
  padding: 0 0;
  margin: 0 0;
}
.anime_title {
  font-size: 20px;
  margin-bottom: 5px;
}

.main_top {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px 10px;
}

.main_text {
  text-align: center;
  font-size: 50px;
  padding: 0px 15px;
  margin: 0 0;
}

.sub_text {
  text-align: center;
  font-size: 25px;
  padding: 0px 15px;
  margin: 0 0;
}

.link_button {
  text-align: center;
  padding: 10px 10px;
  margin: 10px 10px;
  border: 3px solid;
  font-size: 15px;
  font-weight: 600;
  width: 100px;
  height: 19px;
}
.mal_link {
  background-color: #3498db;
  color: white;
}
.livechart_link {
  background-color: #f8efba;
  background-color: #ffda79;

  color: #0c0c0c;
}

.watchlist_main {
  display: flex;
  flex-direction: row;
}
