.dark_input {
  background-color: #282828;
  border-color: #8b8b8b;
  color: white;
}

.dark_button {
  background-color: #121212;

  background-color: #282828;
  border-color: #8b8b8b;
  color: white;
}
