.light_input {
  background-color: white;
  border-color: #0c0c0c;
  color: #0c0c0c;
}

.light_button {
  background-color: #ecf0f1;
  background-color: white;
  border-color: #0c0c0c;

  color: #0c0c0c;
}
