<!doctype html>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="static/base.css" />
    <link rel="stylesheet" href="../static/base.css" />
    {% if theme == "light"%}
    <link rel="stylesheet" href="static/base_light.css" />
    <link rel="stylesheet" href="../static/base_light.css" />
    {% else %}
    <link rel="stylesheet" href="static/base_dark.css" />
    <link rel="stylesheet" href="../static/base_dark.css" />
    {% endif %}


    {% block css %}{% endblock %}
  </head>
  <body>
    <div class="links">
    <a class="nav_button" href="{{url_for('user')}}">User</a>
    <a class="nav_button" href="{{url_for('list_today')}}">Airing</a>
    <a class="nav_button" href="{{url_for('list_watchlist')}}">Watchlist</a>
    <a class="nav_button" href="{{url_for('list_all')}}">Season</a>
    <a class="nav_buktton" href="{{url_for('login')}}">Login</a>
    <a class="nav_button" href="{{url_for('logout')}}">Logout</a>
    <a class="nav_button" href="{{url_for('register')}}">Register</a>

    <a class="nav_button" href="{{url_for('theme')}}">Theme</a>
    <hr class="bar">
  {% with messages = get_flashed_messages() %} {% if messages %} {% for message
  in messages %}
  <p class="error">{{message}}</p>
  {% endfor %} {% endif %}{% endwith %}


    {% block content %}{% endblock %}
    </div>
  </body>
</html>
