{% extends "base.html" %} {% block title %}Login{% endblock %} {% block css %}

<link rel="stylesheet" href="static/login.css" />
<link rel="stylesheet" href="../static/list.css" />
{% if theme=="light" %}
<link rel="stylesheet" href="../static/login_light.css" />
{% else %}
<link rel="stylesheet" href="../static/login_dark.css" />
{% endif %}

{% endblock %} {% block content %}

<div class="body">
  <div class="sub_body dark_body light_body">
  <h1 class="main_text">Login</h1>

  <hr />

  <div class="input_main_block">
  <form  class="input_block" action="" method="post">
    <label class="input_text" for="username">Username</label><br />
    <input class="input_bar dark_input light_input" type="text" name="username" required /><br />
    <label class="input_text" for="password">Password</label><br />
    <input class="input_bar dark_input light_input" type="password" name="password" required /><br />
    <input class="input_submit dark_button light_button" type="submit" name="submit" value="Login" />
  </form>
  </div>
  </div>
</div>
{% endblock %}
