{% extends "base.html" %} {% block title %}Clear{% endblock %} {% block css %}
<link rel="stylesheet" href="/static/login.css" />
<link rel="stylesheet" href="../static/list.css" />
{% if theme=="light" %}
<link rel="stylesheet" href="../static/list_light.css" />
{% else %}
<link rel="stylesheet" href="../static/list_dark.css" />
{% endif %}


{% endblock %} {% block content %}



<div class="light_body dark_body body">

  <div class="sub_body dark_body light_body">
<h1 class="main_text">Are you sure you want to delete your account?</h1>
<h2 class="sub_text">To confirm, please enter your username and password</h2>


  <div class="input_main_block">
<form class="input_block" action="" method="post">
  <label class="input_text" for="username">Username</label><br />
  <input class="input_bar dark_input light_input" type="text" name="username" required /><br />
  <label class="input_text" for="password">Password</label><br />
  <input class="input_bar dark_input light_input" type="password" name="password" required /><br />

  <input class="input_submit dark_button light_button" type="submit" name="yes_delete" value="Delete" />
</form>

<form class="input_block" action="" method="post">
  <input class="input_submit dark_button light_button" type="submit" name="no_delete" value="Don't Delete" />
</div>
</form>
  </div>
</div>

{% endblock %}
